.pdfcard {
  .react-pdf__Page {
    > canvas {
      zoom: 75%;
      width: 511px !important;
      height: 738px !important;
    }
    > react-pdf__Page__textContent {
      display: none !important;
    }
  }
  > .pdfcard__bookname {
  }
} 

